body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #f9f9f9;
    padding: 0 25px;
    background-color: #fffcfc;

}

main {
    display: flex;
    flex-direction: column;
}

.navigation {
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;
    border-bottom: 1px solid gray;
}

.nav {
    display: flex;
}

.page-title {
    font-size: 1.5em;
    font-weight: bold;
}

.nav-item {
  border: 1px solid black;
  display: flex;
  align-items: center;
  padding: 0px 20px 5px 20px;
  text-decoration: none;   
  color: black;

}

.nav-item:hover {
    background-color: gray;
}

.content-title {
    padding: 30px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content {
 display: flex;
 margin-top: 10px;

}

.content-form {
    display: flex;
    flex-direction: column;
    padding: 30px;
    background: lightgray;
}

.content-left {
    box-sizing: border-box;
    width: 50%;
    margin-right: 100px;
    margin-top: auto;
}

.content-right {
    box-sizing: border-box;
    width: 30%;
    margin-top: 50px;
    text-align: justify;

}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    background: darkslategray;
    color: white;
    padding: 10px 0;
    margin-top: 10px;
    cursor: pointer;
}

.button:hover {
    background: black;
    color: gray;
}

input {
    margin-bottom: 10px;
    padding: 8px 2px;
}

select {
    padding: 8px 2px;
}

.content-image {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.image {
    width: 95%;
}

.content-image span {
    color: gray;

}

.deskripsi {
    padding: 40px 10px 40px 10px;
    color: rgb(114, 109, 109);
    text-align: justify;
}

.products {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    margin-top: 30px;
    text-align: center;
}

.benefit {
    background-color: #fffefe;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.benefit h2 {
    font-size: 24px;
    color: #333;
    margin-bottom: 10px;
}

.benefit p {
    font-size: 16px;
    color: #666;
    max-width: 800px;
    margin: 0 auto;
}


.profile-container {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    margin-top: 20px;
}

.profile-image img {
    max-width: 50px;
    display: block;
    margin-right: 10px;
    margin-left: 10px;
}

.profile-info {
    text-align: left;
    margin-left: 5px;
}

.description {
    margin-top: 5px;
    font-style: italic;
    color: #888;
}

.form-field {
    border: 2px solid red;
}


.form-field.valid {
    border-color: blue;
}